name: 'Build, Pack, Push'

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Add github source
      run: dotnet nuget add source https://nuget.pkg.github.com/poyrazym/index.json -n github -u poyrazym -p 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 --store-password-in-clear-text
    - name: Restore dependencies
      run: dotnet restore ./src/ClassLibrary2/ClassLibrary2.csproj

    - name: Build
      run: dotnet build ./src/ClassLibrary2/ClassLibrary2csproj --configuration Release --no-restore

    - name: Pack
      run: dotnet pack ./src/ClassLibrary2/ClassLibrary2.csproj --configuration Release --no-build --output ./src/ClassLibrary2/bin/Release

    - name: NuGet Push
      run: dotnet nuget push ".\src\ClassLibrary2\bin\Release\*.nupkg" --source "https://nuget.pkg.github.com/poyrazym/index.json" --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }}
      
    - name: Print folder contents
      if: ${{ failure() }}
      run: |
        ls -R .\src
        ls -R D:\a