# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Restore dependencies
      run: dotnet restore ./src/ClassLibrary2/ClassLibrary2.csproj

    - name: Build
      run: dotnet build ./src/ClassLibrary2/ClassLibrary2.csproj --configuration Release --no-restore

    - name: Pack
      run: dotnet pack ./src/ClassLibrary2/ClassLibrary2.csproj --configuration Release --no-build --output ./src/ClassLibrary2/bin/Release
    
    - name: NuGet Push
      run: dotnet nuget push "./src/ClassLibrary2/bin/Release/*.nupkg" --source "https://nuget.pkg.github.com/poyrazym/index.json" --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }}